// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2f1965;
$yellow: #FFC65A;
$orange: #ED4E4E;
$green: #1EDD88;
$gray: #161313;
$light-gray: #DDDDDD;
$purple: #2F1965;
$black: #000000;
