<footer class="fixed-bottom" style="border-top: 4px solid #ED4E4E; z-index: 9999">
  <div class="container bottom">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Button 1: Link para a Home -->
      <%= link_to "/", class: "btn btn-primary w-50 py-3 border-0 text-center d-flex justify-content-center align-items-center" do %>
        <i class="bi bi-house-door-fill me-2"></i> <!-- Ícone de Home -->
        Home
      <% end %>

      <!-- Button 2: Link para a página de Favoritos -->
      <%= link_to "/favorites", class: "btn btn-primary w-50 py-3 border-0 text-center d-flex justify-content-center align-items-center" do %>
        <i class="bi bi-heart-fill me-2"></i> <!-- Ícone de Favoritos -->
        Agenda
      <% end %>
    </div>
  </div>
</footer>
