/* Botão de login */
.btn-login {
  color: #ED4E4E;
  border: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #c93c3c;
  color: #FFFFFF;
}

/* Botão de logout */
.btn-logout {
  color: #ED4E4E;
  border: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: #c93c3c;
  color: #FFFFFF;
}

.red-heart {
  color: red;
}
.outline-heart{
-webkit-text-stroke: 1px #ED4E4E; /* Contorno nítido */
// text-shadow: 0 0 2px white, 0 0 5px white; /* Adicional para suavizar */
}
