.card {
  background-color: $warning;
  color: $body-color;
  border-radius: 15px;
}

#login-header{
  border-top-left-radius: 15px; /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 15px; /* Arredonda o canto superior direito */
  border-bottom-left-radius: 0; /* Mantém o canto inferior esquerdo reto */
  border-bottom-right-radius: 0; /* Mantém o canto inferior direito reto */
}

.rounded-corner {
  border-top-left-radius: 15px; /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 15px; /* Arredonda o canto superior direito */
  border-bottom-left-radius: 0; /* Mantém o canto inferior esquerdo reto */
  border-bottom-right-radius: 0; /* Mantém o canto inferior direito reto */
}
