.card {
  background-color: $warning;
  color: $body-color;
  border-radius: 15px;

  .title{
    font-size: 21px;
  }
}

btn-sm {
  padding-top: 0.25rem; /* Ajusta o padding superior */
  padding-bottom: 0.25rem; /* Ajusta o padding inferior */
  padding-left: 0.5rem; /* Largura opcional */
  padding-right: 0.5rem; /* Largura opcional */
}

#login-header{
  border-top-left-radius: 15px; /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 15px; /* Arredonda o canto superior direito */
  border-bottom-left-radius: 0; /* Mantém o canto inferior esquerdo reto */
  border-bottom-right-radius: 0; /* Mantém o canto inferior direito reto */
}

.rounded-corner {
  border-top-left-radius: 15px; /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 15px; /* Arredonda o canto superior direito */
  border-bottom-left-radius: 0; /* Mantém o canto inferior esquerdo reto */
  border-bottom-right-radius: 0; /* Mantém o canto inferior direito reto */
}
