// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import 'components/button';
@import 'components/map';

body {
  background-color: $primary;
  margin-bottom: 40px;
}

h2, h3 {
  font-weight: bold; /* Letras em negrito */
}
/* Adicione estes estilos ao seu arquivo CSS */

.modal-title {
  color: $primary;
}

.modal-body {
  color: $info;
}
