<p>Olá, <%= @resource.email %>!</p>

<p>Recebemos uma solicitação para redefinir a sua senha. Você pode fazer isso clicando no link abaixo:</p>

<p><%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa solicitação, por favor, ignore este e-mail.</p>
<p>Sua senha permanecerá inalterada até que você acesse o link acima e crie uma nova senha.</p>
